/*
@font-face {
  font-family: 'font';
  src: url('font.otf');
}
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(42, 40, 47);
  color: rgb(221, 221, 222);
  font-family: Sans-Serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}

h1, h2, p {
  margin: 7px 0;
}

h1 {
  font-size: 13px;
  font-weight: 700;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 0 -7px 5px -7px;
  padding: 5px 7px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  list-style-type: none;
  color: rgb(237,237,237);
  background-color: transparent;
}
li:hover {
  background-color: rgb(80, 76, 86);
}

input {
  width: 100%;
  background-color: transparent;
  padding: 3px 7px;
  border: 1px solid rgb(237,237,237);
  border-radius: 7px;
  color: rgb(237,237,237);
  outline: 0;
  font-size: 14px;
}

button {
  background-color: transparent;
  color: rgb(221, 221, 222);
  border: 1px solid rgb(221, 221, 222);
  border-radius: 3px;
}

.window {
  margin: 17px;
}

.divider {
  margin: 7px auto;
  height: 1px;
  border-radius: 50%;
  background-color: rgb(78, 76, 83);
}

.subtext {
  font-size: 13px;
  color: rgb(168, 168, 169);
  pointer-events: none;
}