/*
@font-face {
  font-family: 'font';
  src: url('font.otf');
}
*/

body {
  margin: 0;
  padding: 0;
  background-color: rgb(42, 40, 47);
  color: rgb(221, 221, 222);
  font-family: Sans-Serif;
}

h1 {
  font-size: 9px;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  background-color: transparent;
  margin-bottom: 7px;
}
li:hover {
  background-color: rgb(80, 76, 86);
}

button {
  background-color: transparent;
  color: rgb(221, 221, 222);
  border: 1px solid rgb(221, 221, 222);
  border-radius: 3px;
}

.window {
  margin: 0 10%;
}

.divider {
  margin: 10px auto;
  height: 1px;
  border-radius: 50%;
  background-color: rgb(78, 76, 83);
}